<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav position="end" [opened]="opened" disableClose=true>
    <app-single-movie
      [movie]="movieObject"
      [action]="action"
      (closeModalEvent)="closeModal()"
      (saveMovie)="saveMovie($event)"
    ></app-single-movie>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="position: fixed; z-index: 99999">
      <button class="btn btn-primary" (click)="newMovieLoad()">
        New Movie
      </button>
      <span class="toolbar-spacer"></span>
      <input type="text" class="form-control" placeholder="Search by movie" [(ngModel)]="search" (ngModelChange)="filterSearch()">
    </mat-toolbar>
    <div class="main-content">
      <app-home
        [displayMovieList]="displayMovieList"
        (updateMovie)="updateMovie($event)"
        (deleteMovie)="deleteMovie($event)"
      ></app-home>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
